.main {
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 4rem); */
  padding: 1rem 4.7rem;
  background-color: #ddd;
}
.regionFilter {
  display: flex;
  justify-content: space-between;
}
.filter {
  background-color: aqua;
}
.regionList {
  background-color: aqua;
}
.region {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 4rem;
  /* background-color: green; */
}
